<div *ngFor = "let names of details" >
<div class="container">
    <div class="jumbotron text-white">
        <div class="row">
            <button *ngIf="isAdmin === true" type="button" class="btn btn-danger" id="right" (click)="forEdit()">Edit Restaurant</button>
            <button *ngIf="isAdmin === true" type="button" class="btn btn-danger" id="rightD" (click)="forDelete()">Delete Restaurant</button>
        </div>
        <h1>{{names.RestaurantName}}</h1>
        <hr/>
        <div class="row">
        <p>LOCATION : {{names.Locality}}, {{names.City.Name}}, {{names.Country.Name}}</p>
        <p class="Right">Rating</p>
        </div>    
    </div>
    <div>
        <label>Contact Number</label>
        <p>{{names.ContactNumber}}</p>
        <label>Cuisine Type</label>
        <p>{{names.CuisineType}}</p>
        <label>Average Cost for Two</label>
        <p> ₹ {{names.AverageCost}}</p>
        <label>Opening Hours</label>
        <p>{{names.OpeningHours}}</p>
        <div>
            <hr/>
            <h5>MORE INFO: </h5>
            <p>{{names.MoreInfo}}</p>
        </div>
        <hr/>  
        <div>
            <button>menu 1</button>
            <button>menu 2</button>
        </div>
    </div>     
</div>
<hr/>
<div class="container">
    <h3>Reviews</h3>
    <div>
        <p>User Name</p>
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="1" id="comment"></textarea>
        </div>
        <button type="button" class="btn btn-default" id="like">Like</button>
        <button type="button" class="btn btn-default" id="comments">Comments</button>
    </div>
    <br>
    <div>
        <button>Add Review</button>
    </div>
</div>
<hr/>
</div>