<p>details works!</p>
<div class="container">
    <div class="jumbotron bg-secondary text-white">
        <h1>Restaurant Name</h1>
        <p>Location</p>
        <p>Rating</p>     
    </div>
    <div>
        <p>Contact Numbers</p>
        <p>Cuisines</p>
        <p>Average Cost for Two</p>
        <p>Opening Hours</p>
        <div>
            <h5>More Info</h5>
            <p>Home</p>
            <p>Free Wifi</p>
            <p>Buffet</p>
        </div>  
        <div>
            <button>menu 1</button>
            <button>menu 2</button>
        </div>
    </div>     
</div>
<div class="container">
    <h3>Reviews</h3>
    <div>
        <p>User Name</p>
        <p>Review text</p>
        <p>likes and comments</p>
    </div>
    <button>Add Review</button>
</div>