h1
{
    align-content: center;
}
.jumbotron
{
    background: #660000;
}
.Right
{
    position: absolute;
    margin-left: 70%;
}
label
{
    font-weight:bold;
    text-transform: uppercase;
}
#right
{
    position: absolute;
    margin-left: 64%;
}
#rightD
{
    position: absolute;
    margin-left: 52%;
}
#comments
{
    border: 1px solid gray;
}
#like
{
    border: 1px solid gray;
}
h4
{
    text-align: center;
}
#left
{
    margin-left: 13px;
    margin-right: 40em;
}
h3
{
    text-align: center;
}
#card
{
    margin-bottom: 10px;
    background-color: rgb(227, 232, 233);
}