<div>
<div class="container">
    <div class="jumbotron text-white">
        <div class="row">
            <button *ngIf="isAdmin === true" type="button" class="btn btn-danger" id="right" (click)="forEdit()">Edit Restaurant</button>
            <button *ngIf="isAdmin === true" type="button" class="btn btn-danger" id="rightD" (click)="forDelete()">Delete Restaurant</button>
        </div>
        <h1>{{details.RestaurantName}}</h1>
        <hr/>
        <div class="row">
        <p>LOCATION : {{details.Locality}}, {{details.City.Name}}, {{details.Country.Name}}</p>
        <!-- <ngb-rating [(rate)]="currentRate"></ngb-rating>
        <pre>Rate: <b></b></pre> -->
        </div>    
    </div>

    <div class="row">
            <div id="left">
                <label>Contact Number</label>
                <p>{{details.ContactNumber}}</p>
                <label>Cuisine Type</label>
                <p>{{details.CuisineType}}</p>
                <label>Average Cost for Two</label>
                <p> ₹ {{details.AverageCost}}</p>
                <label>Opening Hours</label>
                <p>{{details.OpeningHours}}</p>
            </div>
            <div class="card">
                <h4>Add Review</h4>
                <br/>
                <app-reviews></app-reviews>
            </div>
    </div>
    <div>
        <hr/>
        <h5>MORE INFO: </h5>
        <p>{{details.MoreInfo}}</p>
    </div>
    <hr/>  
    <div>
        <button>menu 1</button>
        <button>menu 2</button>
    </div>
    </div>
</div>
<br/>
<div class="container">
    <h3>Reviews</h3>
    <div *ngFor = "let review of this.details.AllReviews">
        <div class="card" id="card">
            <div class="card-body">
              <h5 class="card-title">{{review.UserName}}</h5>
                <div class="form-group">
                    <p >{{review.ReviewTexts}}</p>
                    <button (click)="onLike(review.ReviewId)">Likes : <a>{{review.LikesCount}}</a></button>
                    <button>Comments : <a></a></button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>
