h1
{
    align-content: center;
}
.jumbotron
{
    background: #660000;
}
.Right
{
    position: absolute;
    margin-left: 70%;
}
label
{
    font-weight:bold;
    text-transform: uppercase;
}
#right
{
    position: absolute;
    margin-left: 64%;
}
#rightD
{
    position: absolute;
    margin-left: 52%;
}