<div>
        <div class="container">
            <div class="jumbotron">
                <h1>UDPDATE RESTAURANT</h1>   
            </div>
            <div>
                <label>Contact Number</label>
                <br>
                <input type="text" name="ContactNumber" [(ngModel)]="restaurant.ContactNumber" class="form-control" [value]="this.restaurant.ContactNumber"/>
                <br>
                <label>Cuisine Type</label>
                <br>
                <input type="text" name="Cuisines" [(ngModel)]="restaurant.CuisineType" class="form-control" [value]="this.restaurant.CuisineType"/>
                <br>
                <label>Average Cost for Two</label>
                <br>
                <input type="text" name="Average" [(ngModel)]="restaurant.AverageCost" class="form-control" [value]="restaurant.AverageCost"/>
                <br>
                <label>Opening Hours</label>
                <br>
                <input type="text" name="OpeningHours" [(ngModel)]="restaurant.OpeningHours" class="form-control" [value]="restaurant.OpeningHours"/>
                <div>
                <hr/>
                <label>More Info</label>
                <br>
                <input type="text" name="MoreInfo" [(ngModel)]="restaurant.MoreInfo" class="form-control" [value]="restaurant.MoreInfo"/>
                </div>
                <hr/>  
            </div> 
            <div>
                <h5>Add Location details</h5>
                    <br>
                    <label>Country Name: </label>
                    <br>
                    <input type="text" name="Country" [(ngModel)]="restaurant.Country.CountryName" class="form-control" [value]="restaurant.Country.CountryName"/>
                    <br>
                    <label>City Name: </label>
                    <br>
                    <input type="text" name="City" [(ngModel)]="restaurant.City.CityName" class="form-control" [value]="restaurant.City.CityName"/>
                    <br>
                    <label>Locality: </label>
                    <br>
                    <input type="text" name="Locality" [(ngModel)]="restaurant.Locality" class="form-control" [value]="restaurant.Locality"/>
                    <br>
            </div>
            <br>
    <div class="wrapper">
            <button class="button" (click)="onSubmit()">UPDATE</button>
            <hr/>
    </div>     
        </div>
</div>