<div>
        <div class="container">
            <div class="jumbotron">
                <h1>UDPDATE RESTAURANT</h1>   
            </div>
            <div>
                <label>Contact Number</label>
                <br>
                <input type="text" name="ContactNumber" [(ngModel)]="restaurant.ContactNumber" class="form-control" [value]="this.restaurant.ContactNumber"/>
                <br>
                <label>Cuisine Type</label>
                <br>
                <input type="text" name="Cuisines" [(ngModel)]="restaurant.CuisineType" class="form-control" [value]="this.restaurant.CuisineType"/>
                <br>
                <label>Average Cost for Two</label>
                <br>
                <input type="text" name="Average" [(ngModel)]="restaurant.AverageCost" class="form-control" [value]="restaurant.AverageCost"/>
                <br>
                <label>Opening Hours</label>
                <br>
                <input type="text" name="OpeningHours" [(ngModel)]="restaurant.OpeningHours" class="form-control" [value]="restaurant.OpeningHours"/>
                <div>
                <hr/>
                <label>More Info</label>
                <br>
                <input type="text" name="MoreInfo" [(ngModel)]="restaurant.MoreInfo" class="form-control" [value]="restaurant.MoreInfo"/>
                </div>
                <hr/>  
            </div> 
            <br>
    <div class="wrapper">
            <button class="button">UPDATE</button>
            <hr/>
    </div>     
        </div>
</div>