.card
{
    width: 18rem;
    margin-right: 47px;
    margin-left: 43px;
}
.jumbotron
{
    background: rgb(28, 121, 121);
    text-align: center;
}
#right
{
    position: absolute;
    margin-left: 65%;
}