<div class="container">
    <div class="jumbotron text-white">
      <h1>Restaurant Name</h1>      
      <p>Location</p>
    </div>
    <h3>Dishes List</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Dishes</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let items of selected">
                <td>{{items.Dishes.DishesName}}</td>
                <td>{{items.Dishes.Costs * items.ItemsCount}}</td>
                <td>{{items.ItemsCount}}</td>
                <td>
                    <button (click)="updateCart(items.ID)">Delete</button>
                </td>
            </tr>
        </tbody> 
    </table>  
    <div>
        <p>Total: </p>
    </div>
</div>

<div class="container">
  <div>
      <h3>Personal Details</h3>
      <p>{{user.fullName}}</p>
      <p>Contact / Registered Number</p>
      <p>{{user.phoneNumber}}</p>
      <p>Address for Delivery</p>
      <input type="text"/>
  </div>
  <br>
  <div>
      <button (click)="placeOrder()">Place Order</button>
      <p *ngIf="orderPlaced">Thank you for using Comida! Your Order has been placed.</p>
  </div>
</div>