<p>cart works!</p>
<div class="container">
    <div class="jumbotron">
      <h1>Restaurant Name</h1>      
      <p>Location</p>
    </div>
    <h3>Dishes List</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Dishes</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Item One</td>
                <td>500</td>
                <td>1</td>
            </tr>
        </tbody> 
    </table>     
</div>

<div class="container">
  <div>
      <h3>Personal Details</h3>
      <p>User Name</p>
      <p>Contact / Registered Number</p>
      <p>Address for Delivery</p>
  </div>
  <div>
      <button>Place Order</button>
  </div>
</div>