<div class="container">
    <div class="jumbotron text-white">
      <h1>Restaurant Name</h1>      
      <p>Location</p>
    </div>
    <h3>Dishes List</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Dishes</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let items of selected">
                <td>{{items.DishesName}}</td>
                <td>{{items.Costs * items.Quantity}}</td>
                <td>{{items.Quantity}}</td>
                <td>
                    <button>Delete</button>
                </td>
            </tr>
        </tbody> 
    </table>  
    <div>
        <p>Total: </p>
    </div>
</div>

<div class="container">
  <div>
      <h3>Personal Details</h3>
      <p>User Name</p>
      <p>Contact / Registered Number</p>
      <p>Address for Delivery</p>
  </div>
  <div>
      <button>Place Order</button>
  </div>
</div>