
    <div class="container">
    <div class="jumbotron text-white">
        <div>
          <button type="button" class="btn btn-success" id="right" (click)="addDishes(currentRestaurant.RestaurantId)">Add Dishes</button>
        </div>
        <h1>{{currentRestaurant.RestaurantName}}</h1>
    </div>

    
    <div class="container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Dishes</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dish of dishes">
              <td>
                <div>
                    <input #myBox type="checkbox" name="check" id="check" (change)="onCheck(myBox.checked, dish.ID)">
                    <label  for="check">{{dish.DishesName}}</label>
                </div> 
              </td>
              <td>price</td>
            </tr>
          </tbody>
        </table>
      </div> 
</div>

<div>
    <button (click)= "forCart(RestaurantId)">View Cart</button>
</div>
