.jumbotron
{
    background: #575403;
}
#right
{
    position: absolute;
    margin-left: 60%;
}
#quantity
{
    width : 45px;
}
#home
{
    position: absolute;
    margin-left: 67%;
    font-size: 20px;
}
