<p>add-dishes works!</p>
<div *ngFor = "let names of details" >
    <div class="container">
        <div class="jumbotron text-white">
            <h1>{{names.RestaurantName}}</h1>
            <hr/>   
        </div>
        <div>
            <label>Dishes Name</label>
            <p>{{names.ContactNumber}}</p>
            <label>Price</label>
            <p>{{names.CuisineType}}</p>
        </div> 
        <div class="wrapper">
            <button class="button" (click)="onSubmit()">ADD NEW</button>
            <hr/>
        </div>     
    </div>
</div>