<p>add-dishes works!</p>

  
    <div class="container">
        <div class="jumbotron text-white">
            <!-- <h1>{{restaurant.RestaurantName}}</h1> -->
            <hr/>   
        </div>
        <div>
            <label>Dishes Name</label>
            <input type="text" name="DishesName" [(ngModel)]="dish.DishesName" class="form-control"/>
            <br>
            <label>Price</label>
            <input type="text" name="Costs" [(ngModel)]="dish.Costs" class="form-control"/>
            <br>
        </div> 
        <div class="wrapper">
            <button class="button" (click)="onSubmit()">ADD NEW</button>
            <hr/>
        </div>     
    </div>

