.jumbotron
{
    
    background-color: #0c7d75; 
    margin-top:10%; 
    text-align: center; 
    box-shadow: 5px 5px 15px #000302;
}
h1
{
    color: ghostwhite; 
    border-color: black; 
    margin-top:190px;
}
#id1
{
    border-left: 1px solid #777;
}
#rightcontainer
{
    background-color: #09877f;
}
#id2
{
    height: 90%; 
    width: 85%;
}
#name
{
    font-family: 'Lucida Calligraphy', Times, serif;
}
#id3
{
    font-size: large;
}
#id4
{
    border : solid;
    border-color: grey;
}
#go-back
{
    color: black;
}